<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/loginForm.css" />
    <script src="../scripts/helperFunctions.js"></script>
    <script src="../scripts/gatewayController.js"></script>
    <title>WebGate</title>
  </head>
  <body>
    <div id="form-container">
      <input
        type="text"
        name="username"
        id="username"
        class="input-field"
        placeholder="username"
      />
      <input
        type="password"
        name="password"
        id="password"
        class="input-field"
        placeholder="password"
      />
      <button type="submit" id="submit" disabled>Log In</button>
    </div>
  </body>
</html>
